# Ignore all .md files except README.md
*.md
!README.md

node_modules/
dist/
target/
.idea/
.vscode/
*.log
.DS_Store
*.local
.npm-cache/
BackendRules/
repoguard-backend/src/main/resources/application-local.yml
config/application-local.yml
repoguard-backend/config/application-local.yml
repoguard-backend/config/application-dev-local.yml
