* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.dockerignore text eol=lf
.editorconfig text eol=lf

*.java text eol=lf working-tree-encoding=UTF-8
*.xml text eol=lf working-tree-encoding=UTF-8
*.properties text eol=lf working-tree-encoding=UTF-8
*.sql text eol=lf working-tree-encoding=UTF-8
*.ts text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8
*.vue text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.html text eol=lf working-tree-encoding=UTF-8
*.css text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
*.txt text eol=lf working-tree-encoding=UTF-8
*.sh text eol=lf
repoguard-backend/mvnw text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf working-tree-encoding=UTF-8
*.bat text eol=crlf
*.cmd text eol=crlf
Dockerfile text eol=lf
*.Dockerfile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
*.pem text eol=lf
