<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule conversionWord="safeMsg"
                    class="com.repoguard.agent.common.SanitizingMessageConverter"/>
    <conversionRule conversionWord="safeEx"
                    class="com.repoguard.agent.common.SanitizingThrowableConverter"/>

    <property name="TEST_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %-5level [%thread] [traceId=%X{traceId:-}] %logger{36} - %safeMsg%n%safeEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.repoguard.agent.testlogging.SuppressExpectedLlmFallbackFilter"/>
        <encoder>
            <pattern>${TEST_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
